<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>OZK_RTM</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src="js/vue.dev.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-THJHMS28B8"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-THJHMS28B8');
  </script>
</head>
<body>

<div  id="vue">
  <header class="sticky-top border-bottom">
    <div class="row m-0 bg-white" v-for='item in top'>
      <a class="btn rounded-0 col-12 col-lg-2 text-white text-center d-none d-sm-block bg-dark" href="OZK_world.html"
         role="button"><h4>{{item.name}}</h4></a>
      <a class="btn col bg-white rounded-0 d-none d-sm-block align-self-center border-end"
         href="YouTube.html" role="button"><h6>{{item.name1}}</h6></a>
      <a class="btn col bg-white rounded-0 d-none d-sm-block align-self-center border-end" href="#" role="button"><h6>
        {{item.name2}}</h6></a>
      <a class="btn col bg-white rounded-0 d-none d-sm-block align-self-center border-end" href="動作環境導入MOD.html"
         role="button"><h6>{{item.name3}}</h6></a>
      <a class="btn col bg-white rounded-0 d-none d-sm-block align-self-center" href="#" role="button"><h6>
        {{item.name4}}</h6></a>
    </div>
    <div class="d-block d-sm-none border text-center">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="OZK_world.html">OZK</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                  aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navber" v-for='item in top'>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=OZK_world.html>TOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="YouTube.html">{{item.name1}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{item.name2}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="動作環境導入MOD.html">{{item.name3}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{item.name4}}</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>
  </header>


    <div class="card bg-dark text-white rounded-0" style="width: auto; height: auto;">
      <img src="../img/導入MOD一覧/roji%20acloss.png" class="card-img" alt="icon image">
      <div class="card-img-overlay d-flex">
        <div class="m-auto">
          <h2 class="card-title">YouTube</h2>
        </div>
      </div>
    </div>

  <main class="container-fluid">
    <div class="m-5 text-center align-items-center">
      <div class="h6 m-md-3 my-5">YouTubeではMODの遊び方や○○ワールドの進捗などを発信しています！</div>
    </div>

    <div class="card m-5 align-items-center">
      <div class="row g-0 m-3">
        <div class="col-md-4">
          <a href="https://youtube.com/@kusattamikan9060">
          <img src="../img/youtube.png" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text text-center">他にも様々な動画を配信しています！！</p>
            <p class="card-text text-center">ストップモーションのアクション動画や懐かしのゲーム映像など、様々な動画がアップされています！</p>
          </div>
           </div>
      </div>
      <a href="https://youtube.com/@kusattamikan9060" class="btn btn-info text-white m-2 align-bottom"  style="width:95%;">View</a>

    </div>


  </main>


  <footer class="fixed-bottom bg-secondary bg-opacity-75 text-center text-white align-items-center">
    <h6>@OZK 2023</h6>
  </footer>

</div>
<script type="text/javascript">
    new Vue({
        el: '#vue',
        data: {
            top: [
                {
                    "name": "OZK",
                    "name1": "YouTube",
                    "name2": "○○ワールド進捗",
                    "name3": "動作環境/導入MOD",
                    "name4": "サイト概要",
                },
            ],



            }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>