<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>OZK_サイト概要</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src="../js/vue.dev.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-THJHMS28B8"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-THJHMS28B8');
  </script>
</head>


<body>

<div id="vue">
  <header class="sticky-top border-bottom">
    <div class="row m-0 bg-white">
      <a class="btn rounded-0 col-12 col-lg-2 text-white text-center d-none d-sm-block bg-dark" href="OZK_world.html"
         role="button"><h4>OZK</h4></a>
      <div class="btn-group col align-self-center border-end" v-for='item in top'>
        <a class="btn d-none d-sm-block" :href='item.url'><h6>{{item.name}}</h6></a>
        <a class="d-none d-sm-block" :class='item.add' data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">ドロップダウンの切替</span>
        </a>
        <ul class="dropdown-menu">
          <li v-for="details in item.details"><a class="dropdown-item" :href='details.url'>{{details.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="d-block d-sm-none border text-center">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="OZK_world.html">OZK</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                  aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=OZK_world.html>TOP</a>
              </li>

              <li class="nav-item dropdown" v-for='item in top'>
                <a :href='item.url' class="nav-link active" :class='item.mini' :id='item.id' :role='item.role' :data-bs-toggle='item.databstoggle' :aria-expanded='item.ariaexpanded'>{{item.name}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" :href='item.url'>{{item.name}}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" v-for="details in item.details" :href='details.url'>{{details.name}}</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>
  </header>
  <div class="card bg-dark text-white rounded-0" style="width: auto; height: auto;">
    <img src="../img/サイト概要.png" class="card-img" alt="icon image">
    <div class="card-img-overlay d-flex">
      <div class="m-auto">
        <h2 class="card-title">サイト概要</h2>
      </div>
    </div>
  </div>
  <main class="mx-1 mx-sm-5">
    <div class="m-3">
      <table class="table text-center">
        <thead>
        <tr>
          <th>概要</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for='item in contents'>
          <th scope="row">{{item.項目}}</th>
          <td>{{item.内容}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>

<footer class="fixed-bottom bg-secondary bg-opacity-75 text-center text-white align-items-center">
  <h6>©OZK 2023</h6>
</footer>



<script type="text/javascript">
    new Vue({
        el: '#vue',
        data: {
            top: [
                {
                    "name": "YouTube",
                    "url": "../html/YouTube.html",
                },
                {
                    "name": "遊び方解説",
                    "url": "../html/OZK_world.html#遊び方解説",
                    "add": "btn dropdown-toggle dropdown-toggle-split",
                    "mini":"dropdown-toggle",
                    "id":"navbarDropdown",
                    "role":"button",
                    "databstoggle":"dropdown",
                    "ariaexpanded":"false",
                    "details": [
                        {"name": "RealTrainMOD","url":"../html/遊び方解説/RealTrainMOD.html"},
                        {"name": "ImmersiveVehiclesMOD","url":"../html/遊び方解説/ImmersiveVehiclesMOD.html"},
                        {"name": "ProjectRedMOD","url":"../html/遊び方解説/ProjectRedMOD.html"},
                    ],
                },
                {
                    "name": "動作環境/導入MOD",
                    "url": "../html/動作環境導入MOD.html",
                },
                {
                    "name": "ワールド紹介",
                    "url": "../html/ワールド紹介.html",
                },
                {
                    "name": "サイト概要",
                    "url": "../html/サイト概要.html",
                },
            ],
            contents: [
                {
                    "項目": "サイト作成開始日",
                    "内容": "2023/7/21",
                },
            ],
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>