<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>OZK_動作環境/導入MOD</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src="../js/vue.dev.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-THJHMS28B8"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-THJHMS28B8');
  </script>
</head>
<body>

<div id="vue">
  <header class="sticky-top border-bottom">
    <div class="row m-0 bg-white">
      <a class="btn rounded-0 col-12 col-lg-2 text-white text-center d-none d-sm-block bg-dark" href="Top.html"
         role="button"><h4>OZK</h4></a>
      <div class="btn-group col align-self-center border-end" v-for='item in top'>
        <a class="btn d-none d-sm-block" :href='item.url'><h6>{{item.name}}</h6></a>
        <a class="d-none d-sm-block" :class='item.add' data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">ドロップダウンの切替</span>
        </a>
        <ul class="dropdown-menu">
          <li v-for="details in item.details"><a class="dropdown-item" :href='details.url'>{{details.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="d-block d-sm-none border text-center">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="Top.html">OZK</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber"
                  aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=Top.html>TOP</a>
              </li>

              <li class="nav-item dropdown" v-for='item in top'>
                <a :href='item.url' class="nav-link active" :class='item.mini' :id='item.id' :role='item.role'
                   :data-bs-toggle='item.databstoggle' :aria-expanded='item.ariaexpanded'>{{item.name}}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" :href='item.url'>{{item.name}}</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" v-for="details in item.details" :href='details.url'>{{details.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>
  </header>
  <div class="card bg-dark text-white rounded-0" style="width: auto; height: auto;">
    <img src="../img/導入MOD一覧/roji%20acloss.webp" class="card-img" alt="icon image">
    <div class="card-img-overlay d-flex">
      <div class="m-auto">
        <h2 class="card-title">動作環境 / 導入MOD一覧</h2>
      </div>
    </div>
  </div>

  <main class="container-fluid">
    <div class="m-5">
      <div class="mt-5 h3 border-bottom">導入MOD一覧</div>
      <div class="card">
        <div class="card-body">
          <p>MOD導入においては必ず配布サイトの指示に従って下さい。</p><p>当サイトはMOD導入にあたっての不具合,故障などは一切の責任を取りません。</p>
        </div>
      </div>
      <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item ">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed h2" data-bs-toggle="collapse" data-bs-target=#MOD1 aria-expanded="false" aria-controls=MOD1>
              メインMOD
            </button>
          </h2>
          <div id=MOD1 class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body overflow-auto">
              <table class="table text-center text-nowrap">
                <thead>
                <tr>
                  <th>MOD名</th>
                  <th>Ver</th>
                  <th>説明</th>
                  <th>前提MOD</th>
                  <th>配布サイト</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for='item in MOD' :id='item.name'>
                  <td>{{item.name}}</td>
                  <td>{{item.ver}}</td>
                  <td>{{item.説明}}</td>
                  <td><a :href='item.前提リンク' class="link-dark">{{item.前提}}</a></td>
                  <td><a :href='item.配布' target="_blank" class="link-dark">配布サイトへ</a></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed h2" data-bs-toggle="collapse" data-bs-target=#MOD2 aria-expanded="false" aria-controls=MOD2>
              サブMOD
            </button>
          </h2>
          <div id=MOD2 class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body overflow-auto">

              <table class="table text-center text-nowrap">
                <thead>
                <tr>
                  <th>MOD名</th>
                  <th>Ver</th>
                  <th>説明</th>
                  <th>前提MOD</th>
                  <th>配布サイト</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for='item in AssistMOD' :id='item.name'>
                  <td>{{item.name}}</td>
                  <td>{{item.ver}}</td>
                  <td>{{item.説明}}</td>
                  <td><a :href='item.前提リンク' class="link-dark">{{item.前提}}</a></td>
                  <td><a :href='item.配布' target="_blank" class="link-dark">配布サイトへ</a></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div class="accordion-item" id="RTMadd">
          <h2 class="accordion-header">
            <button type="button" class="accordion-button collapsed h2" data-bs-toggle="collapse" data-bs-target=#MOD3 aria-expanded="false" aria-controls=MOD3>
              RealTrainMOD アドオン
            </button>
          </h2>
          <div id=MOD3 class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body overflow-auto">

              <table class="table text-center text-nowrap">
                <thead>
                <tr>
                  <th>MOD名</th>
                  <th>Ver</th>
                  <th>説明</th>
                  <th>前提MOD</th>
                  <th>配布サイト</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for='item in RTMadd' :id='item.name'>
                  <td>{{item.name}}</td>
                  <td>{{item.ver}}</td>
                  <td>{{item.説明}}</td>
                  <td><a :href='item.前提リンク' class="link-dark">{{item.前提}}</a></td>
                  <td><a :href='item.配布' target="_blank" class="link-dark">配布サイトへ</a></td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="my-3 h3 border-bottom table-warning">動作環境</div>
      <table class="table text-center">
        <thead>
        <tr>
          <th>PCスペック</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for='item in head'>
          <th scope="row">{{item.項目}}</th>
          <td>{{item.名前}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table text-center">
        <thead>
        <tr>
          <th>Minecraft</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for='item in minecraft'>
          <th scope="row">{{item.項目}}</th>
          <td>{{item.名前}}</td>
        </tr>
        </tbody>
      </table>

    </div>









  </main>


  <footer class="fixed-bottom bg-secondary bg-opacity-75 text-center text-white align-items-center">
    <h6>@OZK 2023</h6>
  </footer>

</div>

<script type="text/javascript">
    new Vue({
        el: '#vue',
        data: {
            top: [
                {
                    "name": "YouTube",
                    "url": "../html/YouTube.html",
                },
                {
                    "name": "遊び方解説",
                    "url": "../html/Top.html#遊び方解説",
                    "add": "btn dropdown-toggle dropdown-toggle-split",
                    "mini": "dropdown-toggle",
                    "id": "navbarDropdown",
                    "role": "button",
                    "databstoggle": "dropdown",
                    "ariaexpanded": "false",
                    "details": [
                        {"name": "RealTrainMOD", "url": "../html/遊び方解説/RealTrainMOD.html"},
                        {"name": "ImmersiveVehiclesMOD", "url": "../html/遊び方解説/ImmersiveVehiclesMOD.html"},
                        {"name": "ProjectRedMOD", "url": "../html/遊び方解説/ProjectRedMOD.html"},
                    ],
                },
                {
                    "name": "動作環境/導入MOD",
                    "url": "../html/動作環境導入MOD.html",
                },
                {
                    "name": "ワールド紹介",
                    "url": "../html/ワールド紹介.html",
                },
                {
                    "name": "サイト概要",
                    "url": "../html/サイト概要.html",
                },
            ],
            head: [
                {
                    "項目": "OS",
                    "名前": "Windows10",
                },
                {
                    "項目": "CPU",
                    "名前": "Ryzen7 3700x",
                },
                {
                    "項目": "GPU",
                    "名前": "GeForce RTX 2060 SUPER",
                },
                {
                    "項目": "RAM",
                    "名前": "64GB",
                },
                {
                    "項目": "ストレージ",
                    "名前": "SSD 1TB",
                },
                {
                    "項目": "解像度",
                    "名前": "1980×1080",
                },
            ],
            minecraft: [
                {
                    "項目": "Version",
                    "名前": "1.12.2-forge-14.23.5.2860",
                },
                {
                    "項目": "RAM割り当て",
                    "名前": "64GB",
                },
                {
                    "項目": "表示チャンク(作業時)",
                    "名前": "4チャンク",
                },
                {
                    "項目": "表示チャンク(撮影時)",
                    "名前": "64チャンク～",
                },
            ],
            MOD: [
                {
                    "name": "RealTrainMOD",
                    "説明": "リアルな鉄道の追加",
                    "ver": "2.4.22-40",
                    "前提": "NGTLib",
                    "前提リンク": "../html/動作環境導入MOD.html#NGTLib",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/realtrainmod",
                },
                {
                    "name": "NGTLib",
                    "説明": "RealTrainMODの前提MOD",
                    "ver": "2.4.19-35",
                    "前提": "RealTrainMOD",
                    "前提リンク": "../html/動作環境導入MOD.html#RealTrainMOD",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/ngtlib",
                },
                {
                    "name": "Immersive Vehicles",
                    "説明": "リアルな車や飛行機などを追加",
                    "ver": "22.6.0",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/minecraft-transport-simulator",
                },
                {
                    "name": "MTS General's General Vehicles Pack",
                    "説明": "Immersive Vehiclesの追加パック",
                    "ver": "2.1.2",
                    "前提": "Immersive Vehicles",
                    "前提リンク": "../html/動作環境導入MOD.html#Immersive Vehicles",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/minecraft-transport-simulator",
                },
                {
                    "name": "Project Red - Cor",
                    "説明": "Project Redのライブラリ,ProjectRedを導入するなら必須",
                    "ver": "4.9.4. 120",
                    "前提": "MrTJPcore,CodeChicken,Forge MultiPart CBE",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/project-red-core",
                },
                {
                    "name": "Project Red - Integration",
                    "説明": "ProjectRedに論理回路を追加",
                    "ver": "4.9.4. 120",
                    "前提": "Project Red - Core",
                    "前提リンク": "../html/動作環境導入MOD.html#Project Red - Core",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/project-red-integration",
                },
                {
                    "name": "Project Red - Fabrication",
                    "説明": "ProjectRedにケーブルを追加",
                    "ver": "4.9.4. 120",
                    "前提": "Project Red - Core",
                    "前提リンク": "../html/動作環境導入MOD.html#Project Red - Core",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/project-red-fabrication",
                },
                {
                    "name": "MrTJPCore",
                    "説明": "ProjectRedの前提MOD",
                    "ver": "2.1.4.43",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/mrtjpcore",
                },
                {
                    "name": "CB Multipart",
                    "説明": "ProjectRedの前提MOD",
                    "ver": "6.2.83",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/cb-multipart",
                },
                {
                    "name": "CodeChicken",
                    "説明": "ProjectRedの前提MOD",
                    "ver": "3.2.3.358",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/codechicken-lib-1-8",
                },

                {
                    "name": "MiniaTuria Mod 1.12.2",
                    "説明": "豊富な3Dモデルと特殊な設置機能を追加",
                    "ver": "v 1.6.1",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://miniaturia.club/index.html#rp-top",
                },
                {
                    "name": "ArchitectureCraft - TridentMC Version",
                    "説明": "傾斜した屋根、丸いブロックなどを追加",
                    "ver": "1.12-3.108",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/architecturecraft-tridev",
                },
                {
                    "name": "AsphaltMod",
                    "説明": "リアルな舗装道路を追加",
                    "ver": "2.3.9",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://mukanote.com/download/asphaltmod/",
                },
                {
                    "name": "道路標識パック (Road Sign Pack)",
                    "説明": "Asphalt Modの追加アドオン",
                    "ver": "",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://mukanote.com/download/asphaltmod/signpack.html#sec4",
                },
                {
                    "name": "白線パック (White Line Pack)",
                    "説明": "Asphalt Modの追加アドオン",
                    "ver": "",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://mukanote.com/download/asphaltmod/linepack.html#sec4",
                },
                {
                    "name": "BetterFps",
                    "説明": "FPSの向上を図るMOD",
                    "ver": "1.4.8",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/betterfps",
                },
                {
                    "name": "Better Placement",
                    "説明": "ブロックを連続で設置しやすくするMOD",
                    "ver": "1.4.8",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/betterfps",
                },
                {
                    "name": "Chisels & Bits",
                    "説明": "ブロックをさらに細かく設置、破壊ができるようになる",
                    "ver": "14.33",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/chisels-bits",
                },
                {
                    "name": "OptiFine",
                    "説明": "軽量化MOD",
                    "ver": "1.12.2",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://optifine.net/downloads",
                },
                {
                    "name": "路地裏MOD",
                    "説明": "昭和～現代日本の路地裏を表現可能になるMOD",
                    "ver": "0.1.4a",
                    "前提": "ConnectedTexturesMod",
                    "前提リンク": "../html/動作環境導入MOD.html#ConnectedTexturesMod",
                    "配布": "http://rojiuramod.php.xdomain.jp/",
                },
                {
                    "name": "ConnectedTexturesMod",
                    "説明": "路地裏MODの前提MOD",
                    "ver": "14.33",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/ctm",
                },
                {
                    "name": "WR-CBE-Universal",
                    "説明": "レッドストーン信号を遠隔で操作できるMOD",
                    "ver": "2.3.2.33",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/wr-cbe-universal",
                },

            ],
            AssistMOD: [

                {
                    "name": "BetterFps",
                    "説明": "FPSの向上を図るMOD",
                    "ver": "1.4.8",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/betterfps",
                },
                {
                    "name": "Better Placement",
                    "説明": "ブロックを連続で設置しやすくするMOD",
                    "ver": "1.4.8",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/better-placement",
                },
                {
                    "name": "Dynamic Surroundings",
                    "説明": "音をリアルにするMOD",
                    "ver": "3.2.3.358",
                    "前提": "OreLib",
                    "前提リンク": "../html/動作環境導入MOD.html#OreLib",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/dynamic-surroundings",
                },
                {
                    "name": "OreLib",
                    "説明": "Dynamic Surroundingsの前提MOD",
                    "ver": "3.6.0.1",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/orelib",
                },
                {
                    "name": "KleeSlabs",
                    "説明": "半ブロックを破壊しやすくする",
                    "ver": "5.4.12",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/kleeslabs/screenshots",
                },
                {
                    "name": "MacroKey Keybinding",
                    "説明": "ボタン一つで登録したコマンドを実行するMOD",
                    "ver": "0.3.202",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/macrokey-keybinding",
                },
                {
                    "name": "MC Terrain Editor",
                    "説明": "ボタン一つで登録したコマンドを実行するMOD",
                    "ver": "0.3.202",
                    "前提": "NGTLib",
                    "前提リンク": "../html/動作環境導入MOD.html#NGTLib",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/mc-terrain-editor",
                },
                {
                    "name": "Phosphor",
                    "説明": "軽量化MOD",
                    "ver": "1.9.27",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/voxelmap",
                },
                {
                    "name": "VoxelMap",
                    "説明": "照明のエンジンを最適化する",
                    "ver": "0.2.7",
                    "前提": "",
                    "前提リンク": "",
                    "配布": "https://www.curseforge.com/minecraft/mc-mods/phosphor-forge",
                },

            ],
            RTMadd: [
                {
                    "name": "ATSAssistMod",
                    "説明": "RTM内で簡単に保安装置を構築できるようにするmod",
                    "ver": "1.7.5",
                    "配布": "https://github.com/Kai-Z-JP/ATSAssistMod/releases",
                },
                {
                    "name": "SignalControllerMod",
                    "説明": "閉塞信号システムを簡単に組むことができるMOD",
                    "ver": "1.4.0",
                    "配布": "https://github.com/masa300/SignalControllerMod",
                },
                {
                    "name": "JR貨物HD300形機関車風パック【RTMモデルパック】",
                    "説明": "新雪原製作所　様のパックです。",
                    "ver": "1.0.2",
                    "配布": "https://new-ilya.hatenablog.com/entry/HD300",
                },
                {
                    "name": "223系5500番台パック",
                    "説明": "河津重工 様のパックです。",
                    "ver": "1.5",
                    "配布": "https://twitter.com/Kozu_Heavy_Ind/status/1395016160806985729",
                },
                {
                    "name": "ライパックS Ver.1.6",
                    "説明": "橋本製作所直売所 様のパックです。",
                    "ver": "1.6",
                    "配布": "https://ux.getuploader.com/HashimotoSesaku_download/",
                },
                {
                    "name": "ライパック W51 Edition Ver.1.2(ライパックS 拡張パック)",
                    "説明": "橋本製作所直売所 様のパックです。",
                    "ver": "1.2",
                    "配布": "https://ux.getuploader.com/HashimotoSesaku_download/",
                },
                {
                    "name": "EG20型自動改札機パック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/eg20_",
                },
                {
                    "name": "EG20型自動改札機パック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/eg20_",
                },
                {
                    "name": "新・駅の小物パック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.1",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/newstationacc",
                },
                {
                    "name": "線路アクセサリーパック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "3.4",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/track_acc",
                },
                {
                    "name": "地下ブラケットパック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/ug_bracket",
                },
                {
                    "name": "U-PG風改札機",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/u-pg_t",
                },
                {
                    "name": "自動券売機パック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/vendermachine",
                },
                {
                    "name": "6RinvisibleConnector",
                    "説明": "ろくある(柚穂車輌) 様のパックです。透明の入出力コネクターを追加します。",
                    "ver": "",
                    "配布": "https://twitter.com/Yuzuho_RTM/status/910382294841438208",
                },
                {
                    "name": "600VsSignalpack",
                    "説明": "meitetsu600v 様のパックです。信号機を追加します。",
                    "ver": "2.2",
                    "配布": "https://minatocc.com/archives/703",
                },
                {
                    "name": "600VsSignalpackに柚穂製架線アイテムを適応させる追加パック",
                    "説明": "ろくある(柚穂車輌) 様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yuzuhortm.wixsite.com/yuzuho/post/yuzuho_signaladditionalpack_for600vssignalpac",
                },
                {
                    "name": "CKS Structures pack",
                    "説明": "筑紫車両　様のパックです。",
                    "ver": "1.1",
                    "配布": "https://twitter.com/seiyassaMC/status/1257115755054632961",
                },
                {
                    "name": "照明式制限速度標識パック",
                    "説明": "伊与田車両製作所　様のパックです。",
                    "ver": "1.0",
                    "配布": "https://iyodatrecdakusyon.wixsite.com/my-site/post/%E7%85%A7%E6%98%8E%E5%BC%8F%E5%88%B6%E9%99%90%E9%80%9F%E5%BA%A6%E6%A8%99%E8%AD%98%E3%83%91%E3%83%83%E3%82%AF",
                },
                {
                    "name": "hi03 Bumping Post Pack",
                    "説明": "hi03　様のパックです。車止めなどを追加します。",
                    "ver": "1.0",
                    "配布": "https://hi03sub.wixsite.com/shirota-industries",
                },
                {
                    "name": "hi03 Sound Lib",
                    "説明": "hi03　様のパックです。",
                    "前提":"他パックの前提パックです。",
                    "ver": "1.2.0",
                    "配布": "https://hi03sub.wixsite.com/shirota-industries",
                },
                {
                    "name": "hi03 Structure Pack",
                    "説明": "hi03　様のパックです。様々なストラクチャーを追加します。",
                    "ver": "1.0.2",
                    "配布": "https://hi03sub.wixsite.com/shirota-industries",
                },
                {
                    "name": "hi03組駅シリーズ",
                    "説明": "hi03　様のパックです。プラットフォームを追加します。",
                    "ver": "1.0",
                    "配布": "https://hi03sub.wixsite.com/shirota-industries",
                },
                {
                    "name": "TrainMelodiesPack",
                    "説明": "hi03　様のパックです。発車メロディーを追加します。",
                    "ver": "",
                    "配布": "https://hi03sub.wixsite.com/shirota-industries",
                },
                {
                    "name": "宝条都市情景セット",
                    "説明": "宝条みちる　様のパックです。多くのストラクチャーを追加します。",
                    "ver": "",
                    "配布": "http://hojyoteito.blog134.fc2.com/blog-entry-218.html",
                },
                {
                    "name": "宝条自動車パック v1.7",
                    "説明": "宝条みちる　様のパックです。自動車のストラクチャーを追加します。",
                    "ver": "1.7",
                    "配布": "http://hojyoteito.blog134.fc2.com/blog-entry-212.html",
                },
                {
                    "name": "倉急式簡易踏板パック",
                    "説明": "たこたこ焼き　様のパックです。",
                    "ver": "1.0",
                    "配布": "https://yotchys.hatenadiary.org/entry/2022/03/16/125659",
                },
                {
                    "name": "MasaFumikiriPack",
                    "説明": "まさ　様のパックです。踏切などを追加します。",
                    "ver": "1.2",
                    "配布": "https://twitter.com/masa300_fmkr/status/1305062397791490048",
                },
                {
                    "name": "MugenTrainSoundLibrary",
                    "説明": "F2-106(福島な醍希) #夢幻重工　様のパックです。",
                    "ver": "3.2_Final",
                    "前提":"他パックの前提パックです。",
                    "配布": "https://twitter.com/H_daiki1927/status/1486229319131471879",
                },
                {
                    "name": "Poll_shark4_123&BasicPack",
                    "説明": "さめ（電柱）　様のパックです。電柱を追加します。",
                    "ver": "1.4",
                    "配布": "https://twitter.com/Poll_shark4/status/1312686966782132224",
                },
                {
                    "name": "Poll_shark4_ExtensionPack",
                    "説明": "さめ（電柱）　様のパックです。電柱をさらに追加します。",
                    "ver": "1.0",
                    "前提":"Poll_shark4_123&BasicPack",
                    "配布": "https://twitter.com/Poll_shark4/status/1326548035334152204",
                },
                {
                    "name": "REYN Compound Catenary Pack",
                    "説明": "50105tobu　様のパックです。金属パイプ風架線柱などを追加します。",
                    "ver": "1.1.2",
                    "配布": "https://twitter.com/50105tobu/status/1341777685576441856",
                },
                {
                    "name": "REYN KomonoPack (β)",
                    "説明": "50105tobu　様のパックです。",
                    "ver": "beta1.1",
                    "配布": "https://twitter.com/50105tobu/status/1216724364915118081",
                },
                {
                    "name": "RTM Wire51 Pack",
                    "説明": "hi03 @hi03_s　様のパックです。",
                    "ver": "",
                    "配布": "https://twitter.com/hi03_s/status/914244174433497088",
                },
                {
                    "name": "RTM Wire51 Pack",
                    "説明": "hi03 @hi03_s　様のパックです。",
                    "ver": "",
                    "配布": "https://twitter.com/hi03_s/status/914244174433497088",
                },
                {
                    "name": "RTM-RemyModelPack",
                    "説明": "pinky remy　様のパックです。多くのモデルパックを追加します。",
                    "ver": "",
                    "配布": "https://ux.getuploader.com/mineclub/ranking/monthly",
                },
                {
                    "name": "転轍機パック",
                    "説明": "蹄信電機製作所　様のパックです。",
                    "ver": "1.0.1",
                    "配布": "https://teishin-rtm.wixsite.com/teishin/point",
                },
                {
                    "name": "Usanolf_E233_3000_1.3.0",
                    "説明": "Mi-TREC　様のパックです。JR E233系を追加します。",
                    "ver": "",
                    "配布": "https://twitter.com/Mi_TREC",
                },
                {
                    "name": "Usanolf_railModule_1.0",
                    "説明": "Mi-TREC　様のパックです。レールを追加します。",
                    "ver": "",
                    "配布": "https://twitter.com/Mi_TREC",
                },
                {
                    "name": "Ystructurepack",
                    "説明": "おみがわ　様のパックです。停止位置標識を追加します。",
                    "ver": "β",
                    "配布": "https://wmd2525momo.wixsite.com/murakami/wmd2525-ralipack1-0",
                },

                <!-- MhnElecSoundlib.zip -->
            ],
        }

    })
    ;
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>